<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>IMAS App</title>
    </head>
    <body>
        <!-- 3 Sección principal para mostrar la informaccion de ayudas materiales -->
            <section th:fragment="listadoAyudaMaterial" id="ayudasMat">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{menu.listadoAyudaMate}]]</h4>
                            </div>
                            <div th:if="${ayudasMat != null and !ayudasMat.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{categoria.descripcion}]]</th>
                                            <th>[[#{categoria.activo}]]</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="ayudaMat, contador : ${ayudasMat}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${categoria.descripcion}]]</td>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${ayudasMat == null or ayudasMat.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{menu.totalAyuda}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalAyudas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Sección principal para mostrar la informaccion de ayudas educativas -->
        <section th:fragment="ListadoAyudaEducativa" id="ayudasEdu">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{menu.listadoAyudaEdu}]]</h4>
                            </div>
                            <div th:if="${ayudasEdu != null and !ayudasEdu.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{categoria.descripcion}]]</th>
                                            <th>[[#{categoria.activo}]]</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="ayudaEdu, contador : ${ayudasEdu}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${categoria.descripcion}]]</td>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${ayudasEdu == null or ayudasEdu.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{menu.totalAyuda}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalAyudas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
