<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>IMAS App</title>
        <meta charset="UTF-8">
            <!-- Boodstrap -->
            <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:replace="layout/plantillaLogin :: header">

        </header>

        <div style="justify-content: center; display: flex" >
            <div style="justify-content: center; display: flex" class="btn-group-vertical">
                <label style="color: white">Iniciar sesión con una cuenta:</label>
                <br>
                <button type="button" style="background-color: #15CDCB;" class="btn btn-primary btn-lg" onclick="location.href = '/login'">Institucional</button>
                <br>
                <button type="button" style="background-color: #4FE0B5;" class="btn btn-primary btn-lg">Personal</button>
            </div>
        </div>
    </body>
 </html>
