#tituloPrincipal {
    color: black;
    font-weight: bold;

}

.parrafos{
    text-align: justify;
    color: black;

}

.enfasis{
    background-color: buttonshadow
    
}

link{
    color: dodgerblue;
}

link:hover{
    background-color: black;
    color: white;
}

link:active{
    background-color: red;
    color: black;
}

link:visited{
    color: red;
    font-size: 20px
        
}
