<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>IMAS App</title>
        <meta charset="UTF-8">
            <!-- Boodstrap -->
            <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body style="background-color: #212226; min-height: 100vh; display: flex; flex-direction: column">
        <header th:replace="layout/plantillaMenuAyudas :: header">

        </header>
        <h3 class="card-title" style=" justify-content: center; display: flex; color: white; padding-top: 5%;"><u>Ayudas materiales y educativas</u></h3>
        <br>
        <div style="justify-content: space-evenly; padding-top: 2%; display: flex;">
             
            <div style="width: 18rem; "></div>
             
            <div class="card" style="width: 18rem; background-color: #15CDCB">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/1318443257/vector/3d-isometric-flat-vector-conceptual-illustration-of-food-pantry-icon.jpg?s=612x612&w=0&k=20&c=oAr_ij-8zD-eKqY_HsDr73_5o9bpr-Z7ZcS6Q2gysIw="  height="297px" alt="Card image cap"/>
                <div class="card-body">
                  <h5 class="card-title">Ayudas Materiales</h5>
                  <a href="#" class="btn btn-primary">Ver más</a>
                </div>
              </div>
            
            <div class="card" style="width: 18rem; background-color: #15CDCB">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/1212963041/vector/books-in-box-cardboard-cartoon-flat-illustration-vector-isolated-in-white-background.jpg?s=612x612&w=0&k=20&c=5ox3EZnEecmUcQ5hWghRLqIIKZR5MfeMJozhFoQdsLo="  alt="Card image cap"/>
                <div class="card-body">
                  <h5 class="card-title">Ayudas Educativas</h5>
                  <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
             
             <div style="width: 18rem; "></div>
             
        </div>
        
        <h3 class="card-title" style=" justify-content: center; display: flex; color: white; padding-top: 5%;"><u>Becas y cursos</u></h3>
        <br>
        <div style="justify-content: space-evenly; padding-top: 2%; display: flex;">
             
            <div style="width: 18rem; "></div>
             
            <div class="card" style="width: 18rem; background-color: #3F54D1">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/931376794/vector/isometric-box-with-books-isolated.jpg?s=170667a&w=0&k=20&c=OfIGRrTOJG4zOKA1GxsYZaz8t1ELizZd2zL-eYekNz4="  alt="Card image cap"/>
                <div class="card-body">
                  <h5 class="card-title" style="color:#ffffff; ">Agregar muevas becas y cursos disponibles</h5>
                  <a href="#" class="btn btn-primary" style="background-color: #15CDCB;">Ver más</a>
                </div>
              </div>
            
            <div class="card" style="width: 18rem; background-color: #3F54D1">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/931376794/vector/isometric-box-with-books-isolated.jpg?s=170667a&w=0&k=20&c=OfIGRrTOJG4zOKA1GxsYZaz8t1ELizZd2zL-eYekNz4="  alt="Card image cap"/>
                <div class="card-body">
                    <h5 class="card-title" style="color:#ffffff; ">Visualizar listado de becas y cursos actuales</h5>
                  <a href="#" class="btn btn-primary" style="background-color: #15CDCB;">Ver más</a>
                </div>
            </div>
             
             <div style="width: 18rem; "></div>
             
        </div>
    <footer th:replace="layout/plantillaMenuAyudas :: footer" style="margin-top: auto">


    </footer>
    </body>
 </html>
