<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    <body>
        <header th:replace = "layout/plantilla :: header"></header>
        
        <section th:replace ="menuPrincipalUser/fragmentos :: listadoAyudasMat" />
        <section th:replace ="menuPrincipalUser/fragmentos :: listadoAyudasEdu" />
        
        <footer th: replace = "layout/plantilla :: footer"></footer>
    </body>
</html>
